.sidebar {
    background-color: #000;
    width: 117px; 
    height: calc(100vh - 91px); // S'assurer que la sidebar prend toute la hauteur moins la hauteur du header
    position: fixed; // Fixe la sidebar sur la page
    top: 91px; // La hauteur de ton header
    left: 0;
    display: flex;
    flex-direction: column; // Organise les enfants en colonne
    justify-content: center; // Centre les enfants verticalement
    align-items: center; // Centre les enfants horizontalement
    box-shadow: 2px 0px 4px 0px rgba(0, 0, 0, 0.25);

  }
  
  .sidebar-list {
    list-style: none;
    padding: 0;
    margin: 0px 0 23px 0;
    width: 100%;
  }
  
  .sidebar-item {
    margin: 20px 0;
    padding-left: 26px;
  }
  
  .sidebar-icon {
    width: 64px;
    height: auto;
  }
  
  .copyright{
    writing-mode: vertical-rl;
    text-orientation: mixed;
    transform: rotate(180deg);
    color: white;
    font-size: 14px;
    position: fixed;
    bottom: 30px;
  }
  