// Police écriture
@import url("https://fonts.googleapis.com/css?family=Roboto:wght@100;200;300;400;500;600;700;800;900&display=swap");
$font-family: "Roboto", sans-serif;

$color-dark: #000;
$color-light-grey: #FBFBFB;
$color-dark-grey: #74798C;
$color-light: #fff;
$color-red: #FF0000;