// Importe Varaible
@import "./utils/variables";

// Styles globaux appliqués à l'ensemble de l'application

*,
::before,
::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html{
    font-size: 62.5%;
    font-family: $font-family;
}

li{
    list-style: none;
}

a{
    text-decoration: none;
    color: inherit;
}

button{
    cursor: pointer;
    border: none;
}
body{
    overflow: hidden;
}
main{
    padding: 5rem 5rem 5rem 15rem;
}